<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="web/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur le Dashboard {{.Username}} </h1>
        <p>Vous êtes connecté !</p>
        
        <nav>
            <ul>
                <li><a href="/logout">Se déconnecter</a></li>
                <li><a href="/deleteaccount">Supprimer mon compte</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
